html{
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

body {
	font-size: 14px;
	line-height: 1.2em;
	width: 70%;
	margin: 0 auto;
	font-family: Verdana, Arial;
	font: 100%;
	padding: 1em 50px;
	background-color: #fff;
	min-height: 600px;
}

header{
	padding-bottom: 20px;
}

header h1{
	font-size: 1.8em;
	line-height: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
}

header h2{
	font-size: 1.4em;
}

#wrapper{
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#wrapper p{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 12px;
}

#wrapper ul{
	padding-bottom: 20px;
}

#wrapper li{
	padding-left: 10px;
	line-height: 1.25em;
}

#wrapper  a:link {color: #000099; text-decoration: none;}
#wrapper  a:visited {color: #000099; text-decoration: none;}
#wrapper  a:hover {color: #000099; text-decoration: underline; }
#wrapper  a:focus {color: #000099; text-decoration: none;}
#wrapper  a:active {color: #000099;text-decoration: none;}

footer{
	padding-top: 20px;
	font-size: .9em;
}
	
